//CONTACT PAGE START
.contact-header {
    background-image: url(../images/contact-1.jpeg);
}

.contact-content {
    position: relative;

    .contact-comment {
        margin: 5vh 5%;
    
        button {
           background-color: white;
           color: $color-green-dark;
           cursor: pointer;
           text-align: left;
        }

        input[type=text],
        input[type=email],
        textarea {
            background-color: $color-brown-grey-light;
        }
    }

    .aside-button {
        color: $color-green-dark;
        position: absolute;
        text-decoration: none;
        width: 40vw;

        top:0;
        left:60vw;

        span {
            align-self: center;
            color:  $color-black;
            font-family: $font-raleway;
            font-size: 0.8rem;
        }
    }

    .aside-content {
        border: 1px solid $color-black-light;
        display: none;
        padding:1vh 3vw;
        position:absolute;
        width: 100vw;

        top: -60vh;
        left: 0;

        h2 {
            margin-bottom: 1vh;
        }

        span {
            color: $color-black;
        }

        div {
            margin-bottom: 1vh;
        }
    }
}

.aside-button-back {
    color: $color-green-dark;
    position: absolute;
    text-decoration: none;

    top:85%;
    left:80vw;

    span {
        align-self: center;
        color:  $color-black;
        font-family: $font-raleway;
        font-size: 0.8rem;
    }
}

.aside-content:target {
    display:block;
}

.contact-decoration {
    background-image: url(../images/contact-2.jpeg);
    background-position: center;
    background-size: cover;
    height: 20vh;
}



@media (min-width: 400px) {
    .contact-content {
        .aside-button {
            top:0;
            left:65vw;
        }
    }
}

@media (min-width: 450px) {
    .contact-content {
        .aside-button {
            top:0;
            left:70vw;
        }
    }
}

@media (min-width: 550px) {
    .contact-content {
        .aside-button {
            top:0;
            left:75vw;
        }
    }
}

@media(min-width:600px){
    .contact-content .contact-comment { 
        button {
            font-size: 1rem;
        }

        i {
            font-size: 1.2rem;
            margin-left: 2%;
        }
    }   
    
    .contact-content .aside-button {
        font-size: 1.2rem;

        top:0;
        left:70vw;

        span {
            font-size: 1rem;
            margin-left:2%;
        }
    }
    
    .contact-content .aside-button-back {
        font-size: 1.2rem;

        left:85vw;
    
        span {
            font-size: 1rem;
            margin-right:7%;
        }
    }
}


@media (min-width: 700px) {
    .contact-content {
        .aside-button {
            top:0;
            left:75vw;
        }
    }
}

@media (min-width: 768px) {
    .contact-content .contact-comment { 
        button {
            font-size: 1.2rem;
        }

        i {
            font-size: 1.2rem;
        }
    }   

    .contact-content .aside-button {
        font-size: 1.3rem;

        left:72vw;

        span {
            font-size: 1.2rem;
        }
    }
    
    .contact-content .aside-button-back {
        font-size: 1.3rem;
    
        span {
            font-size: 1.2rem;
        }
    }
}

@media (min-width: 900px) {
    .contact-content {
        .aside-button {
            left:80vw;
    
            span {
                font-size: 1rem;
            }
        }
    }
}

@media (min-width: 1024px) {
    .contact-content {
        position: static;
    
        .contact-comment {
            width: 40%;
        }
    
        .aside-button {
           display: none;
        }
    
        .aside-content {
            border: none;
            display: block;
            padding:5vh 5%;
            position:static;
            width: 50%;
        }
    }

    .aside-button-back {
        display: none;
    }

    .contact-comment .comment-form {
       input[type=text],
       input[type=email],
       textarea {
           border:none;
       }

       & > input[type=text] {
           width: 100%;
       }

       button {
           width: 45%;
       }
    }
}

@media (min-width: 1280px) {
    .contact-comment .comment-form {
        input[type=text],
        input[type=email] {
            width: 49%;
        }

        input[type=email] {
            margin-right: 0;
        }
 
        & > input[type=text] {
            width: 100%;
        }

        input[type=text],
        input[type=email],
        textarea {
            padding-left: 5%;
        }
    }

    .comment-form {
        position:relative;

        left: 5%;
    }

    .aside-content > div {
        position:relative;

        right:5%;
    }
}