.informationSection .flex.flexEvenly {
    margin: 0 auto 5vh;
    padding-top: 5vh;
    width: 80%;

    .informationDetails{
        div {
            border-bottom: 1px solid $colorBrownGrey;
        }

        & div:last-of-type {
            border: none;
            margin-bottom: 5vh;
        }
    }

    .subscription {
        form {
            border-bottom: 1px solid $colorBrownGrey;
            padding: 3vh 0;
        }
    }
   


}