.flex {
    display:flex;
}
//Flex-direction
.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}
//Justify-content
.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.flex-evenly {
    justify-content: space-evenly;
}
//Flex-wrap
.flex-wrap {
    flex-wrap: wrap;
}