.flex {
    display:flex;
}

.flexRow {
    flex-direction: row;
}

.flexColumn {
    flex-direction: column;
}

.flexBetween {
    justify-content: space-between;
}

.flexEvenly {
    justify-content: space-evenly;
}

.flexCenter {
    justify-content: center;
}

.flexWrap {
    flex-wrap: wrap;
}