.flex {
    display:flex;
}
//Flex-direction
.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}
//Justify-content
.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-evenly {
    justify-content: space-evenly;
}
//Flex-wrap
.flex-wrap {
    flex-wrap: wrap;
}
//min-width: 600px setting -r
@media (min-width: 600px) {
    .flex-r {
        display: flex;
    }

    .flex-row-r {
        flex-direction: row;
    }

    .flex-column-r {
        flex-direction: column;
    }

    .align-self-center-r {
        align-self:center;
    }

    .align-self-end-r {
        align-self:flex-end;
    }
}
//min-width: 1024px setting -rr
@media (min-width: 1024px) {
    .flex-rr {
        display: flex;
    }

    .flex-row-rr {
        flex-direction: row;
    }

    .flex-column-rr {
        flex-direction: column;
    }

    .flex-wrap-rr {
        flex-wrap: wrap;
    }

    .flex-row-reverse-rr {
        flex-direction: row-reverse;
    }
}
//min-width: 1280px setting -rrr
@media (min-width: 1280px) {
    .flex-rrr {
        display: flex;
    }

    .flex-row-rrr {
        flex-direction: row;
    }

    .flex-column-rrr {
        flex-direction: column;
    }
}