body {
    margin: 0 auto;
    /*16px*125%=20px*/
    font-size:125%;
}

// Skip to main 
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

// Font sizes
h1 {
  font-size: 1rem;
}
