body {
    margin: 0 auto;
    /*16px*125%=20px*/
    font-size:125%;
}

// Skip to main 
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

// Font sizes
h1, h2, h3, h4, h5 {
  color: $colorBlack;
  font-family: $fontRaleway;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
  margin-top: 0;
}

h4 {
  color: $colorGreenDark;
  font-size: 1rem;
  margin-bottom: 2vh;
}

h5 {
  color: $colorWhite;
  font-size: 0.8rem;
  margin-bottom: 2vh;
}

p {
  color: $colorBrownGrey;
  font-family:  $fontLora;
  font-size: 0.8rem;
  line-height: 1.5;
}

//Components
.greenUnderline { //A green line under title
  align-self: center;
  border-bottom: 0.5vh solid $colorGreenDark;
  margin-bottom: 3vh;
  width: 15%;
}

//Background color 
.backgroundGreenLight {
  background-color: $colorGreenLight;
}

.backgroundBlakeTwo {
  background-color: $colorBlackTwo;
}

.backgroundGrey {
  background-color: $colorBrownGrey;
}