body {
    margin: 0 auto;
    /*16px*125%=20px*/
    font-size:125%;
}

// Skip to main 
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

// Font sizes
h1, h2, h3, h4, h5 {
  color: $color-black;
  font-family: $font-raleway;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
  margin-top: 0;
}

h4 {
  color: $color-green-dark;
  font-size: 1rem;
  margin-bottom: 2vh;
}

h5 {
  color: $color-white;
  font-size: 0.8rem;
  margin-bottom: 2vh;
}

p,
input[type=email] {
  color: $color-brown-grey;
  font-family:  $font-lora;
  font-size: 0.8rem;
  line-height: 1.5;
}

//Components
.green-underline { //A green line under title
  align-self: center;
  border-bottom: 0.5vh solid $color-green-dark;
  margin-bottom: 3vh;
  width: 15%;
}

.grey-triangle {
  border: 5px solid transparent;
  border-right: 5px solid $color-brown-grey-light;
  height: 0;
  position:absolute;
  width: 0;
  
  top: 5%;
  left:-4.5%;
}

//Background color 
.background-black {
  background-color: $color-black;
}

.background-black-light {
  background-color: $color-black-light;
}

.background-brown-grey-dark {
  background-color: $color-brown-grey-dark;
}

.background-brown-grey-light {
  background-color: $color-brown-grey-light;
}

.background-green-light {
  background-color: $color-green-light;
}
