//Skip to main button setting START
.skip-link {
    color: $color-black;
    font-family: $font-raleway;
    font-size: 0.6rem;
}
//Skip to main button setting END and Header START
header {
    background-position: center;
    background-size: cover;
    height: 30vh;

    .header-wrapper{
        margin: 0 5%;
        padding: 2% 0;
        .header-toolbar {
            width: 40%;
        }
    }
}

.header-toolbar,
.header-shoppingbag,
.header-searchbar{
    margin-left: 15%;

    button {
        background-color: transparent;
        border: none;
        padding: 0;
    }
}
// Header END and Nav START
.navigation {
    position:relative;
    
    ul {
        background-color: $color-green-light;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        display: none;
        padding: 40% 0;
        position:absolute;
        width: 600%;

        top:30%;
        left:-30%;

        li {
            line-height: 1.5;
            list-style: none;
            padding: 0 10%;
        }
    }
}

.navigation li {
    a {
        color: $color-black;
        font-family: $font-raleway;
        font-size: 0.8rem;
        text-decoration: none;

        span {
            color:$color-green-dark;
        }
    }
}
// Nav END and Shopping START
.header-shoppingbag {
    position:relative;
    
    > p {
        background-color: $color-green-dark;
        border-radius: 50%;
        color: $color-white;
        font-size: 0.5rem;
        padding: 0 4px;
        position:absolute;
        text-align: center;

        top: 20%;
        left:60%;
    }

    .header-shoppingbag-cart {
        background-color: $color-green-light;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        display: none;
        padding: 50% 0;
        position:absolute;
        width: 1600%;

        top:70%;
        left:-1250%;
    }
}

.header-shoppingbag-cart div {
    padding: 1% 3%;
    position:relative;
} 

.header-shoppingbag-cart {
    img {
        border-style: double;
        border-radius: 5px;
        margin: 10% 0;
        width: 40%;
    }

    p {
        align-self: flex-end;
        font-size: 0.8rem;
        text-decoration: none;

        span {
            font-size: 0.6rem;
        }
    }
}
// Shopping END and Searching START
.header-searchbar {
    position:relative;

    form {
        background-color: $color-green-light;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        display: none;
        font-size: 0.8rem;
        padding: 50% 50%;
        position:absolute;
        width: 1100%;

        top:70%;
        left:-950%;

        legend {
            font-family: $font-raleway;
            margin: 3% 0;
        }

        input[type=search] {
            font-family:  $font-lora;
            font-style: italic;
            text-align: center;
            width:60%;

            transition: width 0.4s ease-in-out;
        }

        button {
            background-color: inherit;
            border:none;
            cursor: pointer;
            font-size: 1.2rem;
        }
    }
}

.header-searchbar {
    a {
        color: $color-black;
    }
}
//Searching END

@media(min-width: 600px){
    .header-shoppingbag {
        > p {
            top: 15%;
            left:60%;
        }
    }
}

@media(min-width: 768px) {
    header {
        height: 40vh;
    }
    .header-toolbar {
        i {
            font-size: 150%;
        }
    }
    // Header END and Nav START
    .navigation {
        ul {
            width: 500%;
    
            top:25%;
        }
    }
    
    .navigation li {
        a {
            font-size: 1rem;
        }
    }
    // Nav END and Shopping START
    .header-shoppingbag {
       
        > p {
            font-size: 0.7rem;
            padding: 0 5px;
    
            top: 10%;
        }
    }
    
    .header-shoppingbag .header-shoppingbag-cart {
        top: 50%;

        p {
            font-size: 1rem;
    
            span {
                font-size: 0.8rem;
            }
        }
    }
    // Shopping END and Searching START
    .header-searchbar {
        form {
            font-size: 1rem;

            top: 50%;

            button {
                font-size: 1.5rem;
            }
        }
    }
    //Searching END
}

@media(min-width: 1280px) {
    //Header START
    header {
        height: 70vh;
    
        .header-wrapper{
            margin: 0 2%;
            .header-toolbar {
                width: 100%;
            }
        }
    }
    
    .header-toolbar,
    .header-shoppingbag,
    .header-searchbar{
        margin-left: 2%;
    }

    .header-toolbar {
        i {
            font-size: 100%;
            padding-top: 40%;
        }
    }
    // Header END and Nav START
    .navigation {
        display:flex;
        flex-direction: row;

        button {
            display: none;
        }

        ul {
        background-color: transparent;
        border:none;
        display: flex;
        margin-top: 0;
        padding: 0;
        position: relative;
        width: 30%;

        left: -40%;

            li {
                line-height: 1.5;
                list-style: none;
                padding: 0 10%;
            }
        }
    }

    .navigation li {
        a {
            color: $color-black;
            font-family: $font-raleway;
            font-size: 1rem;
            text-decoration: none;

            span {
                color:$color-green-dark;
            }
        }
    }
    //Nav END and Shopping START
    .header-shoppingbag {
        position:relative;
        
        > p {
            top: 10%;
        }
    
        .header-shoppingbag-cart {
            width: 2500%;
    
            left:-2100%;
        }
    }
    
    .header-shoppingbag-cart {
        img {
            width: 50%;
        }
    
        p {
            font-size: 1rem;
    
            span {
                font-size: 0.8rem;
            }
        }
    }
    // Shopping END and Searching START
    .header-searchbar {
        form {
            font-size: 1rem;
            padding: 50% 150%;
            width: 2000%;

            left:-1900%;

            legend {
                font-size: 1rem;
            }

            input[type=search] {
                padding-left: 5%;
                text-align: left;
                width: 55%;
            }

            button {
                font-size: 2rem;
            }
        }

        .header-searchbar input[type=search] {
            width: 100%;
        }
    }
    //Searching END
}