//Skip to main button setting START
.skip-link {
    color: $color-black;
    font-family: $font-raleway;
    font-size: 0.6rem;
}
//Skip to main button setting END and Header START
header {
    background-position: center;
    background-size: cover;
    height: 30vh;

    .header-wrapper{
        margin: 0 5%;
        padding: 2% 0;
        .header-toolbar {
            width: 40%;
        }
    }
}

.header-toolbar,
.header-shoppingbag,
.header-searchbar{
    margin-left: 15%;

    button {
        background-color: transparent;
        border: none;
        padding: 0;
    }
}
// Header END and Nav START
nav {
    position:relative;

    &:hover ul,
    button:focus + ul  {
        display:block;
        z-index: 1;
    }

    
    ul {
        background-color: $color-green-light;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        display: none;
        padding: 40% 0;
        position:absolute;
        width: 600%;

        top:30%;
        left:-30%;

        li {
            line-height: 1.5;
            list-style: none;
            padding: 0 10%;
        }
    }
}

nav li {
    a {
        color: $color-black;
        font-family: $font-raleway;
        font-size: 0.8rem;
        text-decoration: none;
    }

    &:hover,
    &:focus-within {
        background-color: $color-brown-grey;
        
        a {
            color: $color-white;
            }
        
        &::before {
            color: $color-white;
            content: '»';
        }
    }
}

// Nav END and Shopping START
.header-shoppingbag {
    position:relative;
    
    > p {
        background-color: $color-green-dark;
        border-radius: 50%;
        color: $color-white;
        font-size: 0.5rem;
        padding: 0 4px;
        position:absolute;
        text-align: center;

        top: 20%;
        left:60%;
    }

    &:hover .header-shoppingbag-cart,
    button:focus-within + .header-shoppingbag-cart {
        display:block;
        z-index: 1;
    }

    .header-shoppingbag-cart {
        background-color: $color-green-light;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        display: none;
        padding: 50% 0;
        position:absolute;
        width: 1400%;

        top:70%;
        left:-1050%;

        div {
            padding: 1% 3%;

            &:hover,
            &:focus-within {
                background-color: $color-brown-grey;

                img {
                    border-color: $color-white;
                }

                p {
                    color: $color-white;
                }
            }
        } 
    }
}

.header-shoppingbag-cart {
    img {
        border-style: double;
        border-radius: 5px;
        margin-bottom: 10%;
        width: 40%;
    }

    p {
        align-self: flex-end;
        font-size: 0.8rem;
        text-decoration: none;

        span {
            font-size: 0.6rem;
        }
    }
}
// Shopping END and Searching START
.header-searchbar {
    position:relative;

    &:hover form,
    button:focus-within + form {
        display:block;
        z-index: 1;
    }

    form {
        background-color: $color-green-light;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        display: none;
        font-size: 0.8rem;
        padding: 50% 50%;
        position:absolute;
        width: 1100%;

        top:70%;
        left:-950%;

        legend {
            font-family: $font-raleway;
            margin: 3% 0;
        }

        input[type=search] {
            font-family:  $font-lora;
            font-style: italic;
            text-align: center;
        }

        button {
            background-color: inherit;
            border:none;
            cursor: pointer;
            font-size: 1.2rem;
        }
    }
}

@media(min-width: 600px){
    .header-shoppingbag {
        > p {
            top: 15%;
            left:60%;
        }
    }
}