.uc-header {
    background-image:url(../images/construction-1.jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;
}

.uc-main {
    flex-grow: 1;

    h1, h2 {
        margin-top: 4vh;
        text-align: center;
    }

    iframe {
        width: 100%;
    }

    p {
        color: $color-black-light;
        margin-right: 10%;
        text-align: end;

        a {
            color: $color-black-light;
            text-decoration: none;
        }
    }
}

.footer-wrapper {
    color: $color-brown-grey;
    margin: 0 auto;
    padding: 3vh 0;
    width: 80%;

    p {
        font-size: 0.6rem;
        margin:0;

        span {
            color: $color-green-dark;
        }
    }
}

@media(min-width: 600px) {
    .uc-header {
        height: 40vh;
    }
}

@media (min-width: 1024px) {
    .uc-body {
        margin: 0 auto;
        max-width: 1024px;
    }

    .uc-header {
        background-size: contain;
        background-repeat: no-repeat;
    }
}
