$colorBlack: #2E2E2E;
$colorBlackTwo: #333;
$colorBrownGrey: #999;
$colorGreenDark: #64A604;
$colorGreenLight: #DDED9A;
$colorWhite: #F6F6F6;

$fontLora: 'Lora', serif;
$fontRaleway: 'Raleway', sans-serif;
