@import "normalize";
@import "variables";
@import "flexbox";
@import "generalSetting";
@import "header";
@import "navigation";
@import "contactInfo";
@import "footer";

//Header START
header {
    background-image: url(../images/home-1.jpeg);
}
//Header End and About section START
#about {
    margin: 5vh 0;

    .flex.flexCenter { //First article part in About section
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }

    button {
        background-color: $colorGreenDark;
        border-style: none;
        color: $colorWhite;
        font-family:  $fontRaleway;
        font-size: 0.9rem;
        margin: 3vh 0 10vh;
        padding: 4% 10%;
    }

    img {
        width: 100%;
    }

    .flex.flexWrap {
        margin: 10vh auto 7vh;
        width: 90%;

        i {
            font-size: 1rem;
            margin-right: 3vw;
        }

        div {
            margin-bottom: 3vh;
        }
    }
}
//About section End and Restuarant information section START
#restuarantInfo {
    margin: 5vh auto;
    width: 90%;

    .flex.flexCenter{
        position:relative;

        img {
            margin: 15vh auto 0;
            width:70%;
        }

        & img:nth-of-type(2) {
            margin:0;
            position: absolute;
            width:30%;

            top:10%;
            left:65%;
        }

        h2,
        p {
            text-align: center;
        }
    }
}
//Restuarant information section End and Restuarant gallery section START
#restuarantGallery {
    margin: 5vh auto;
    position:relative;

    ul {
        padding-left: 0;

        a{
            margin: 0 3vw;
            text-decoration: none;

            li {
                color: $colorBlackTwo;
                list-style: none;
                text-align: center;

                p{
                    color: $colorBlackTwo;
                    font-size: 0.5rem;
                    margin-top: 0;
                    text-align: center;
                }
            }
        }
        
    }

    div {
        & img:nth-of-type(1) {
            display: block;
            width: 100%;
        }

        & img:nth-of-type(1) ~ img {
            display:none;
            position:absolute;
            width: 100%;
        
            top:0;
            left:0;
        
            &:target {
                display: block;
                z-index: 1;
            }
        }
    }  
}
//Restuarant gallery section End and Client feedback section START
#clientFeedback {
    background-color:  $colorGreenLight;
    margin: 5vh auto;
    padding: 5vh 0;

    .flex.flexCenter {
        margin:0 auto;
        text-align: center;
        width: 70%;

        div {
            color: $colorGreenLightPlus;
            font-size: 0.8rem;
            position: relative;

            .quoteLeft {
                position:absolute;

                top: 5%;
                left:-5%;
            }

            .quoteRight {
                position:absolute;

                top: 90%;
                left:95%;
            }
        }
        
        .flex.flexBetween {
            font-size: 0.8rem;
            margin:0 auto;
            width: 10%;

            .angleRight {
                color: $colorWhite;
            }
        }
    }
}
