@import "normalize";
@import "variables";
@import "flexbox";
@import "general-setting";
@import "header";
@import "subscription-section";
@import "footer";
@import "blog";
@import "contact";
@import "under-construction";

//HOME PAGE START
//Header START
.home-header {
    background-image: url(../images/home-1.jpeg);
}
//Header End and About section START
.home-main {
    margin: 5vh 0;

    .main-description {
        margin-bottom:-1vh;
    }

    img {
        width: 100%;
    }

    .flex.flex-wrap {
        margin: 0 auto ;
        padding: 10vh 5% 5vh 5%;

        i {
            font-size: 1rem;
            margin-right: 3vw;
        }

        div {
            margin-bottom: 3vh;
        }
    }
}

.main-description {
    .flex.flex-center { //First article part in About section
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }

    button {
        background-color: $color-green-dark;
        border-style: none;
        color: $color-white;
        cursor: pointer;
        font-family:  $font-raleway;
        font-size: 0.9rem;
        margin: 3vh 0 10vh;
        padding: 4% 10%;
    }

    img {
        width: 100%;
    }
}
//About section End and Restuarant information section START
.home-restuarant {
    margin: 5vh auto;
    width: 90%;

    .flex.flex-center{
        position:relative;

        img {
            margin: 15vh auto 0;
            width:70%;
        }

        & img:nth-of-type(2) {
            margin:0;
            position: absolute;
            width:30%;

            top:10%;
            left:65%;
        }

        h2,
        p {
            text-align: center;
        }
    }
}
//Restuarant information section End and Restuarant gallery section START
.home-gallery {
    margin: 5vh auto;
    position:relative;

    .gallery-bar {
        padding-left: 0; 
    }   
}

.gallery-bar a {
    margin: 0 3vw;
    text-decoration: none;
    width: 16.67%;

    li {
        color: $color-black-light;
        list-style: none;
        text-align: center;

        p{
            color: $color-black-light;
            font-size: 0.5rem;
            margin-top: 0;
            text-align: center;
        }
    }
}

.gallery-content {
    & img:nth-of-type(1) {
        display: block;
        width: 100%;
    }

    & img:nth-of-type(1) ~ img {
        display:none;
        position:absolute;
        width: 100%;
    
        top:0;
        left:0;
    
        &:target {
            display: block;
            z-index: 1;
        }
    }
}  
//Restuarant gallery section End and Client feedback section START
.home-feedback {
    margin: 5vh auto 0;
    padding: 5vh 0;

    .flex.flex-center {
        margin:0 auto;
        text-align: center;
        width: 70%;     
    }
}

.home-feedback .flex.flex-column {
    color: $color-green-light-plus;
    font-size: 0.8rem;
    position: relative;

    .fa-quote-left {
        position:absolute;

        top: 5%;
        left:-5%;
    }

    .fa-quote-right {
        position:absolute;

        top: 90%;
        left:95%;
    }
}

.home-feedback .flex.flex-between {
    font-size: 0.8rem;
    margin:0 auto;
    width: 10%;

    .fa-angle-left {
        color: $color-green-light-plus;
    }

    .fa-angle-right {
        color: $color-white;
    }
}
//Client feedback section END
//HOME PAGE END

@media (min-width: 600px) {
    .background-brown-grey-light.flex-wrap { //The recipe section in home-main
        & > div {
            margin: 0 2% 3vh 2%;
            width: 46%;
        }
    }

    .gallery-bar a {
        margin: 0 1vw;
    
        li {
            i {
                font-size: 200%;
            }
    
            p{
                font-size: 0.8rem;
            }
        }
    }

    .fa-quote-left,
    .fa-quote-right,
    .fa-angle-left,
    .fa-angle-right {
        font-size: 200%;
    }

    .home-feedback .flex.flex-column {
        .fa-quote-right {
            left: 97%;
        }
    }

    .home-feedback .flex.flex-between {
        width: 20%;
    }
}

@media(min-width:1024px) {
    // About section START
    .home-main {
        margin: 0;
    
        .main-description {
            margin-bottom:0;

            & > div {
                width: 50%;
            }

            .green-underline {
                margin-bottom: 1vh;
            }
        }
    
        img {
            width: 50%;
        }
    
        .flex-rr.flex-row-reverse-rr {
            & > div {
                width: 50%;
            }

            img {
                height: 100%;
            }
        }
    }

    .main-description {
        .flex.flex-center { 
            padding: 0 5%;
            width: 50%;
        }
    
        button {
            font-size: 1rem;
            margin: 1vh 0 0;
        }
    
        img {
            height: 100%;
        }
    }

    .home-main .flex.flex-wrap {
        margin: 0 auto;
        padding: 2% 2%;

        h3 {
            font-size: 1rem;
            margin-bottom: 1vh;
        }

        p{
            font-size: 0.7rem;
        }

        i {
            font-size: 1rem;
            margin-right: 2vw;
        }

        div {
            margin-bottom: 0;
        }
    }
    // About section END
    //Restuarant gallery section START
    .home-gallery {
        margin: 5vh auto 0;
        position:static;

        .gallery-bar {
            display: none; 
        }   
    }

    .gallery-content {
        & img:nth-of-type(1) {
            display: block;
            width: 33.33%;
        }

        & img:nth-of-type(1) ~ img {
            display:block;
            position:static;
            width: 33.33%;
        }
    }  
    //Restuarant gallery section End
    //Client feedback section START
    .home-feedback {
        margin: 0vh auto 0;

        .green-underline {
            width: 10%;
        }
    }

    .home-feedback .flex.flex-column {
        font-size: 1rem;
    
        .fa-quote-right {
            top: 70%;
            left:101%;
        }
    }
    
    .home-feedback .flex.flex-between {
        font-size: 1rem;
        margin:3vh auto 5vh;
        width: 8%;
    }
    //Client feedback section END
    //Restuarant information section START
    .home-restuarant {
        margin: 5vh auto;
        width: 80%;
    }
    //Restuarant information section END
}

@media(min-width:1280px) {
    .home-main .flex.flex-wrap {
        padding: 3% 2% 2%;

        h3 {
            font-size: 1.1rem;
        }

        p{
            font-size: 0.9rem;
        }

        i {
            font-size: 1.1rem;
        }
    }

    .home-restuarant {
        width: 70%;
    }
}

@media(min-width: 1440px) {
    .home-body{
        margin: 0 auto;
        max-width: 1440px;
    }

    .home-restuarant {
        width: 60%;
    }

    .home-main .flex.flex-wrap {
        padding: 5% 2% 2%;
    }
}