@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 600px) {
  .flex-r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-column-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .align-self-center-r {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .align-self-end-r {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (min-width: 1024px) {
  .flex-rr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-row-rr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-column-rr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-wrap-rr {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flex-row-reverse-rr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

body {
  margin: 0 auto;
  /*16px*125%=20px*/
  font-size: 125%;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h1, h2, h3, h4, h5 {
  color: #2E2E2E;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
  margin-top: 0;
}

h4 {
  color: #64A604;
  font-size: 1rem;
  margin-bottom: 2vh;
}

h5 {
  color: #F6F6F6;
  font-size: 0.8rem;
  margin-bottom: 2vh;
}

p,
input[type=email] {
  color: #999;
  font-family: "Lora", serif;
  font-size: 0.8rem;
  line-height: 1.5;
}

.green-underline {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 3px solid #64A604;
  margin-bottom: 3vh;
  width: 15%;
}

.grey-triangle {
  border: 10px solid transparent;
  border-right: 10px solid #f2f2f2;
  height: 0;
  position: absolute;
  width: 0;
  top: 5%;
  left: -6.5%;
}

.background-black {
  background-color: #2E2E2E;
}

.background-black-light {
  background-color: #333;
}

.background-brown-grey-dark {
  background-color: #535353;
}

.background-brown-grey-light {
  background-color: #f2f2f2;
}

.background-green-light {
  background-color: #DDED9A;
}

@media (min-width: 438px) {
  .grey-triangle {
    left: -5.5%;
  }
}

@media (min-width: 504px) {
  .grey-triangle {
    left: -4%;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3, h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1rem;
  }
}

@media (min-width: 671px) {
  .grey-triangle {
    left: -3%;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h3, h4 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  p,
  input[type=email] {
    color: #999;
    font-family: "Lora", serif;
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media (min-width: 857px) {
  .grey-triangle {
    left: -2.5%;
  }
}

@media (min-width: 1019px) {
  .grey-triangle {
    border: 15px solid transparent;
    border-right: 15px solid #f2f2f2;
    left: -3.5%;
  }
}

.skip-link {
  color: #2E2E2E;
  font-family: "Raleway", sans-serif;
  font-size: 0.6rem;
}

header {
  background-position: center;
  background-size: cover;
  height: 30vh;
}

header .header-wrapper {
  margin: 0 5%;
  padding: 2% 0;
}

header .header-wrapper .header-toolbar {
  width: 40%;
}

.header-toolbar,
.header-shoppingbag,
.header-searchbar {
  margin-left: 15%;
}

.header-toolbar button,
.header-shoppingbag button,
.header-searchbar button {
  background-color: transparent;
  border: none;
  padding: 0;
}

nav {
  position: relative;
}

nav:hover ul,
nav button:focus + ul {
  display: block;
  z-index: 1;
}

nav ul {
  background-color: #DDED9A;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  display: none;
  padding: 40% 0;
  position: absolute;
  width: 600%;
  top: 30%;
  left: -30%;
}

nav ul li {
  line-height: 1.5;
  list-style: none;
  padding: 0 10%;
}

nav li a {
  color: #2E2E2E;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
}

nav li:hover, nav li:focus-within {
  background-color: #999;
}

nav li:hover a, nav li:focus-within a {
  color: #F6F6F6;
}

nav li:hover::before, nav li:focus-within::before {
  color: #F6F6F6;
  content: '»';
}

.header-shoppingbag {
  position: relative;
}

.header-shoppingbag > p {
  background-color: #64A604;
  border-radius: 50%;
  color: #F6F6F6;
  font-size: 0.5rem;
  padding: 0 4px;
  position: absolute;
  text-align: center;
  top: 20%;
  left: 60%;
}

.header-shoppingbag:hover .header-shoppingbag-cart,
.header-shoppingbag button:focus-within + .header-shoppingbag-cart {
  display: block;
  z-index: 1;
}

.header-shoppingbag .header-shoppingbag-cart {
  background-color: #DDED9A;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  display: none;
  padding: 50% 0;
  position: absolute;
  width: 1400%;
  top: 70%;
  left: -1050%;
}

.header-shoppingbag .header-shoppingbag-cart div {
  padding: 1% 3%;
}

.header-shoppingbag .header-shoppingbag-cart div:hover, .header-shoppingbag .header-shoppingbag-cart div:focus-within {
  background-color: #999;
}

.header-shoppingbag .header-shoppingbag-cart div:hover img, .header-shoppingbag .header-shoppingbag-cart div:focus-within img {
  border-color: #F6F6F6;
}

.header-shoppingbag .header-shoppingbag-cart div:hover p, .header-shoppingbag .header-shoppingbag-cart div:focus-within p {
  color: #F6F6F6;
}

.header-shoppingbag-cart img {
  border-style: double;
  border-radius: 5px;
  margin-bottom: 10%;
  width: 40%;
}

.header-shoppingbag-cart p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 0.8rem;
  text-decoration: none;
}

.header-shoppingbag-cart p span {
  font-size: 0.6rem;
}

.header-searchbar {
  position: relative;
}

.header-searchbar:hover form,
.header-searchbar button:focus-within + form {
  display: block;
  z-index: 1;
}

.header-searchbar form {
  background-color: #DDED9A;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  display: none;
  font-size: 0.8rem;
  padding: 50% 50%;
  position: absolute;
  width: 1100%;
  top: 70%;
  left: -950%;
}

.header-searchbar form legend {
  font-family: "Raleway", sans-serif;
  margin: 3% 0;
}

.header-searchbar form input[type=search] {
  font-family: "Lora", serif;
  font-style: italic;
  text-align: center;
}

.header-searchbar form button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.header-searchbar a {
  color: #2E2E2E;
}

@media (min-width: 600px) {
  .header-shoppingbag > p {
    top: 15%;
    left: 60%;
  }
}

@media (min-width: 768px) {
  .header-toolbar i {
    font-size: 150%;
  }
  nav ul {
    width: 500%;
    top: 25%;
  }
  nav li a {
    font-size: 1rem;
  }
  .header-shoppingbag > p {
    font-size: 0.7rem;
    padding: 0 5px;
    top: 15%;
  }
  .header-shoppingbag-cart p {
    font-size: 1rem;
  }
  .header-shoppingbag-cart p span {
    font-size: 0.8rem;
  }
  .header-searchbar form {
    font-size: 1rem;
  }
  .header-searchbar form button {
    font-size: 1.5rem;
  }
}

.subscription-section .flex.flex-evenly {
  margin: 0 auto;
  padding: 5vh 0;
  width: 80%;
}

.subscription-section .flex.flex-evenly .subscription-info-one div,
.subscription-section .flex.flex-evenly .subscription-info-two div {
  border-bottom: 1px solid #999;
}

.subscription-section .flex.flex-evenly .subscription-info-one div:last-of-type,
.subscription-section .flex.flex-evenly .subscription-info-two div:last-of-type {
  border: none;
  margin-bottom: 5vh;
}

.subscription-form form {
  border-bottom: 1px solid #999;
  padding: 3vh 0;
  width: 100%;
}

.subscription-form form input[type=email] {
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 3% 0 3% 5%;
  float: left;
}

.subscription-form form button {
  background-color: #64A604;
  border: none;
  color: #F6F6F6;
  font-size: 0.8rem;
  padding: 3.85% 5%;
}

.subscription-form a {
  color: #F6F6F6;
  font-size: 1rem;
  margin-right: 8%;
  margin-top: 5%;
  padding-bottom: 5%;
}

@media (min-width: 600px) {
  .subscription-info-one,
  .subscription-info-two {
    width: 45%;
  }
  .subscription-info-one {
    margin: 0 5% 0 0;
  }
  .subscription-info-two {
    margin: 0 0 0 5%;
  }
  .subscription-section .flex.flex-evenly .subscription-info div:last-of-type {
    margin-bottom: 2vh;
  }
  .subscription-form form i {
    font-size: 1.2rem;
  }
  .subscription-form div a {
    font-size: 150%;
  }
  .subscription-form div a i {
    padding-top: 5%;
  }
}

@media (min-width: 768px) {
  .subscription-form form i {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .subscription-section .flex.flex-evenly {
    width: 90%;
  }
  .subscription-section .flex.flex-evenly .subscription-info-one,
  .subscription-section .flex.flex-evenly .subscription-info-two,
  .subscription-section .flex.flex-evenly .subscription-form {
    margin: 0;
    width: 25%;
  }
}

.footer-wrapper {
  color: #999;
  margin: 0 auto;
  padding: 3vh 0;
  width: 80%;
}

.footer-wrapper p {
  font-size: 0.6rem;
  margin: 0;
}

.footer-wrapper p span {
  color: #64A604;
}

.blog-header {
  background-image: url(../images/blog-1.jpeg);
}

.blog-article {
  margin: 5vh auto;
  width: 90%;
}

.blog-article .article-tittle p {
  color: #2E2E2E;
}

.blog-article article p {
  color: #333;
  margin: 3vh 0;
}

.article-tag {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin-bottom: 5vh;
}

.article-tag span {
  color: #2E2E2E;
  font-family: "Raleway", sans-serif;
}

.article-tag a {
  color: #999;
  margin: 4% 5%;
}

.article-comment {
  border-bottom: 1px solid #999;
  margin-bottom: 10vh;
  padding-bottom: 5vh;
}

.article-comment img {
  width: 40%;
}

.comment-content {
  padding: 3vh 3vw;
}

.comment-content p {
  color: #333;
}

.article-related {
  border-bottom: 1px solid #999;
  margin: 0 auto;
}

.article-related h3 {
  font-size: 0.8rem;
}

.article-related a {
  list-style: none;
  text-decoration: none;
}

.article-related a img {
  width: 100%;
}

.article-related a h3 {
  margin-bottom: 0;
}

.article-related a p {
  margin: 0.5vh 0 5vh;
}

.article-comment-more {
  margin: 5vh 0;
}

.article-comment-more .flex.flex-row {
  margin-bottom: 5vh;
}

.article-comment-more .flex.flex-row img {
  height: 100%;
  margin-right: 3vw;
}

.article-comment-more .flex.flex-row .comment-content {
  position: relative;
}

.article-comment-more span {
  display: block;
  font-family: "Lora", serif;
  font-weight: lighter;
}

.comment-form h3 {
  text-align: center;
}

.comment-form input[type=text],
.comment-form input[type=email],
.comment-form textarea {
  border: 1px solid #999;
  color: #999;
  font-family: "Lora", serif;
  font-size: 0.8rem;
  margin-bottom: 3vh;
  padding: 3% 0 3% 5%;
  width: 100%;
}

.comment-form button {
  background-color: #64A604;
  border: none;
  color: #F6F6F6;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  margin: 0 auto;
  padding: 3.85% 0;
  width: 50%;
}

@media (min-width: 600px) {
  .article-comment {
    margin-bottom: 5vh;
  }
  .article-comment img {
    height: 100%;
    margin-right: 2%;
    width: 28%;
  }
  .article-comment div {
    width: 70%;
  }
  .article-related .flex-r.flex-column-r > div {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .comment-form h3 {
    text-align: center;
  }
  .comment-form input[type=text],
  .comment-form input[type=email],
  .comment-form textarea {
    font-size: 1rem;
  }
  .comment-form button {
    font-size: 1rem;
    width: 40%;
  }
  .article-related .flex-r.flex-column-r > div {
    width: 40%;
  }
  .article-related h3 {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .article-related .flex-r.flex-row-rr > div {
    padding: 1%;
    width: 33%;
  }
  .comment-form h3 {
    text-align: left;
  }
  .comment-form input[type=text]:nth-of-type(1),
  .comment-form input[type=email] {
    width: 49%;
  }
  .comment-form input[type=text]:nth-of-type(1) {
    margin-right: 1%;
  }
  .comment-form input[type=email] {
    margin-left: 1%;
  }
  .comment-form textarea {
    height: 20vh;
  }
  .comment-form input[type=text],
  .comment-form input[type=email],
  .comment-form textarea {
    font-size: 1rem;
    margin-bottom: 1vh;
    padding: 2% 0 2% 2%;
  }
  .comment-form button {
    background-color: #64A604;
    border: none;
    color: #F6F6F6;
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 3.85% 0;
    width: 35%;
  }
}

.contact-header {
  background-image: url(../images/contact-1.jpeg);
}

.contact-content {
  position: relative;
}

.contact-content .contact-comment {
  margin: 5vh 5%;
}

.contact-content .contact-comment button {
  background-color: white;
  color: #64A604;
  cursor: pointer;
  text-align: left;
}

.contact-content .contact-comment input[type=text],
.contact-content .contact-comment input[type=email],
.contact-content .contact-comment textarea {
  background-color: #f2f2f2;
}

.contact-content .aside-button {
  color: #64A604;
  position: absolute;
  text-decoration: none;
  width: 40vw;
  top: 0;
  left: 60vw;
}

.contact-content .aside-button span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #2E2E2E;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
}

.contact-content .aside-content {
  border: 1px solid #333;
  display: none;
  padding: 1vh 3vw;
  position: absolute;
  width: 100vw;
  top: -60vh;
  left: 0;
}

.contact-content .aside-content h2 {
  margin-bottom: 1vh;
}

.contact-content .aside-content span {
  color: #2E2E2E;
}

.contact-content .aside-content div {
  margin-bottom: 1vh;
}

.aside-button-back {
  color: #64A604;
  position: absolute;
  text-decoration: none;
  top: 85%;
  left: 80vw;
}

.aside-button-back span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #2E2E2E;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
}

.aside-content:target {
  display: block;
}

.contact-decoration {
  background-image: url(../images/contact-2.jpeg);
  background-position: center;
  background-size: cover;
  height: 20vh;
}

@media (min-width: 400px) {
  .contact-content .aside-button {
    top: 0;
    left: 65vw;
  }
}

@media (min-width: 450px) {
  .contact-content .aside-button {
    top: 0;
    left: 70vw;
  }
}

@media (min-width: 550px) {
  .contact-content .aside-button {
    top: 0;
    left: 75vw;
  }
}

@media (min-width: 600px) {
  .contact-content .contact-comment button {
    font-size: 1rem;
  }
  .contact-content .contact-comment i {
    font-size: 1.2rem;
    margin-left: 2%;
  }
  .contact-content .aside-button {
    font-size: 1.2rem;
    top: 0;
    left: 70vw;
  }
  .contact-content .aside-button span {
    font-size: 1rem;
    margin-left: 2%;
  }
  .contact-content .aside-button-back {
    font-size: 1.2rem;
    left: 85vw;
  }
  .contact-content .aside-button-back span {
    font-size: 1rem;
    margin-right: 7%;
  }
}

@media (min-width: 700px) {
  .contact-content .aside-button {
    top: 0;
    left: 75vw;
  }
}

@media (min-width: 768px) {
  .contact-content .contact-comment button {
    font-size: 1.2rem;
  }
  .contact-content .contact-comment i {
    font-size: 1.2rem;
  }
  .contact-content .aside-button {
    font-size: 1.3rem;
    left: 72vw;
  }
  .contact-content .aside-button span {
    font-size: 1.2rem;
  }
  .contact-content .aside-button-back {
    font-size: 1.3rem;
  }
  .contact-content .aside-button-back span {
    font-size: 1.2rem;
  }
}

@media (min-width: 900px) {
  .contact-content .aside-button {
    left: 80vw;
  }
  .contact-content .aside-button span {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .contact-content {
    position: static;
  }
  .contact-content .contact-comment {
    width: 40%;
  }
  .contact-content .aside-button {
    display: none;
  }
  .contact-content .aside-content {
    border: none;
    display: block;
    padding: 5vh 5%;
    position: static;
    width: 50%;
  }
  .aside-button-back {
    display: none;
  }
  .contact-comment .comment-form input[type=text],
  .contact-comment .comment-form input[type=email],
  .contact-comment .comment-form textarea {
    border: none;
  }
  .contact-comment .comment-form > input[type=text] {
    width: 100%;
  }
  .contact-comment .comment-form button {
    width: 45%;
  }
}

.uc-header {
  background-image: url(../images/home-4.jpeg);
  background-position: center;
  background-size: cover;
  height: 20vh;
}

.uc-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.uc-main h1, .uc-main h2 {
  margin-top: 5vh;
  text-align: center;
}

.uc-main iframe {
  width: 100%;
}

.uc-main p {
  color: #333;
  margin-right: 10%;
  text-align: end;
}

.uc-main p a {
  color: #333;
  text-decoration: none;
}

.footer-wrapper {
  color: #999;
  margin: 0 auto;
  padding: 3vh 0;
  width: 80%;
}

.footer-wrapper p {
  font-size: 0.6rem;
  margin: 0;
}

.footer-wrapper p span {
  color: #64A604;
}

.home-header {
  background-image: url(../images/home-1.jpeg);
}

.home-main {
  margin: 5vh 0;
}

.home-main .main-description {
  margin-bottom: -1vh;
}

.home-main img {
  width: 100%;
}

.home-main .flex.flex-wrap {
  margin: 0 auto;
  padding: 10vh 5% 5vh 5%;
}

.home-main .flex.flex-wrap i {
  font-size: 1rem;
  margin-right: 3vw;
}

.home-main .flex.flex-wrap div {
  margin-bottom: 3vh;
}

.main-description .flex.flex-center {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.main-description button {
  background-color: #64A604;
  border-style: none;
  color: #F6F6F6;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  margin: 3vh 0 10vh;
  padding: 4% 10%;
}

.main-description img {
  width: 100%;
}

.home-restuarant {
  margin: 5vh auto;
  width: 90%;
}

.home-restuarant .flex.flex-center {
  position: relative;
}

.home-restuarant .flex.flex-center img {
  margin: 15vh auto 0;
  width: 70%;
}

.home-restuarant .flex.flex-center img:nth-of-type(2) {
  margin: 0;
  position: absolute;
  width: 30%;
  top: 10%;
  left: 65%;
}

.home-restuarant .flex.flex-center h2,
.home-restuarant .flex.flex-center p {
  text-align: center;
}

.home-gallery {
  margin: 5vh auto;
  position: relative;
}

.home-gallery .gallery-bar {
  padding-left: 0;
}

.gallery-bar a {
  margin: 0 3vw;
  text-decoration: none;
  width: 16.67%;
}

.gallery-bar a li {
  color: #333;
  list-style: none;
  text-align: center;
}

.gallery-bar a li p {
  color: #333;
  font-size: 0.5rem;
  margin-top: 0;
  text-align: center;
}

.gallery-content img:nth-of-type(1) {
  display: block;
  width: 100%;
}

.gallery-content img:nth-of-type(1) ~ img {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.gallery-content img:nth-of-type(1) ~ img:target {
  display: block;
  z-index: 1;
}

.home-feedback {
  margin: 5vh auto 0;
  padding: 5vh 0;
}

.home-feedback .flex.flex-center {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.home-feedback .flex.flex-column {
  color: #EEF6D1;
  font-size: 0.8rem;
  position: relative;
}

.home-feedback .flex.flex-column .fa-quote-left {
  position: absolute;
  top: 5%;
  left: -5%;
}

.home-feedback .flex.flex-column .fa-quote-right {
  position: absolute;
  top: 90%;
  left: 95%;
}

.home-feedback .flex.flex-between {
  font-size: 0.8rem;
  margin: 0 auto;
  width: 10%;
}

.home-feedback .flex.flex-between .fa-angle-left {
  color: #EEF6D1;
}

.home-feedback .flex.flex-between .fa-angle-right {
  color: #F6F6F6;
}

@media (min-width: 600px) {
  .background-brown-grey-light.flex-wrap > div {
    margin: 0 2% 3vh 2%;
    width: 46%;
  }
  .gallery-bar a {
    margin: 0 1vw;
  }
  .gallery-bar a li i {
    font-size: 200%;
  }
  .gallery-bar a li p {
    font-size: 0.8rem;
  }
  .fa-quote-left,
  .fa-quote-right,
  .fa-angle-left,
  .fa-angle-right {
    font-size: 200%;
  }
  .home-feedback .flex.flex-column .fa-quote-right {
    left: 97%;
  }
  .home-feedback .flex.flex-between {
    width: 20%;
  }
}

@media (min-width: 1024px) {
  .home-main {
    margin: 0;
  }
  .home-main .main-description {
    margin-bottom: 0;
  }
  .home-main .main-description > div {
    width: 50%;
  }
  .home-main .main-description .green-underline {
    margin-bottom: 1vh;
  }
  .home-main img {
    width: 50%;
  }
  .home-main .flex-rr.flex-row-reverse-rr > div {
    width: 50%;
  }
  .home-main .flex-rr.flex-row-reverse-rr img {
    height: 100%;
  }
  .main-description .flex.flex-center {
    padding: 0 5%;
    width: 50%;
  }
  .main-description button {
    font-size: 1rem;
    margin: 1vh 0 0;
  }
  .main-description img {
    height: 100%;
  }
  .home-main .flex.flex-wrap {
    margin: 0 auto;
    padding: 2% 2%;
  }
  .home-main .flex.flex-wrap h3 {
    font-size: 1rem;
    margin-bottom: 1vh;
  }
  .home-main .flex.flex-wrap p {
    font-size: 0.7rem;
  }
  .home-main .flex.flex-wrap i {
    font-size: 1rem;
    margin-right: 2vw;
  }
  .home-main .flex.flex-wrap div {
    margin-bottom: 0;
  }
  .home-gallery {
    margin: 5vh auto 0;
    position: static;
  }
  .home-gallery .gallery-bar {
    display: none;
  }
  .gallery-content img:nth-of-type(1) {
    display: block;
    width: 33.33%;
  }
  .gallery-content img:nth-of-type(1) ~ img {
    display: block;
    position: static;
    width: 33.33%;
  }
  .home-feedback {
    margin: 0vh auto 0;
  }
  .home-feedback .green-underline {
    width: 10%;
  }
  .home-feedback .flex.flex-column {
    font-size: 1rem;
  }
  .home-feedback .flex.flex-column .fa-quote-right {
    top: 70%;
    left: 101%;
  }
  .home-feedback .flex.flex-between {
    font-size: 1rem;
    margin: 3vh auto 5vh;
    width: 8%;
  }
  .home-restuarant {
    margin: 5vh auto;
    width: 80%;
  }
}
